.App {
	text-align: center;
}
.bg-1 {
	background-color: #ff7f47 !important;
}
.text-color-1 {
	color: #ff7f47 !important;
}
.border-11 {
	border-color: #ff7f47 !important;
}
.slick-slide {
	display: none;
	float: left;
	height: auto;
	min-height: 1px;
}
.slick-slide img {
	max-height: 90vh !important;
}
.pCard {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}
.pCard:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
	border: 0 !important;
}
.list-group-item.active {
	background-color: #ff7f47 !important;
	border-color: #ff7f47 !important;
	color: white !important;
}
.btn:focus {
	outline: none;
	box-shadow: none;
}
@media (min-width: 768px) and (max-width: 9999px) {
	.cart {
		top: 13vh !important;
	}
}
